@model inmobiliariaULP.Models.Inmueble

@{
    var tipo = "Inmueble";
    bool esEdicion = Model?.InmuebleId > 0;
    bool soloLectura = ViewBag.SoloLectura == true;

    if (soloLectura)
    {
        ViewData["Title"] = "Información completa";
    }
    else
    {
        ViewData["Title"] = esEdicion ? $"Editar {tipo}" : $"Crear {tipo}";
    }
}

<div class="container mt-4">
    <h2 class="text-primary mb-4">
        <i class="bi 
            @(soloLectura ? "bi-eye" : (esEdicion ? "bi-pencil-square" : "bi-person-plus")) me-2">
        </i>
        @(soloLectura ? "Información completa" : (esEdicion ? $"Edición de {tipo}" : $"Crear Nuevo {tipo}"))
    </h2>


    <form asp-action="@(esEdicion ? "Edit" : "Create")" asp-controller="Inmueble" class="needs-validation" novalidate>
        
        @if (esEdicion)
        {
            <input type="hidden" asp-for="InmuebleId" />
        }

        <!-- Información Personal -->
        <div class="row mb-4">
           <!-- Dirección: mitad izquierda -->
            <div class="col-md-6 mb-3">
                <label asp-for="Direccion" class="form-label"></label>
                @if (soloLectura)
                {
                    <input asp-for="Direccion" class="form-control" readonly="readonly"/>
                }else
                {
                    <input asp-for="Direccion" class="form-control" />
                }
                <span asp-validation-for="Direccion" class="text-danger"></span>
            </div>

            <div class="col-md-6 mb-3">
                <label asp-for="Coordenadas" class="form-label"></label>
                @if (soloLectura)
                {
                    <input asp-for="Coordenadas" class="form-control" readonly="readonly"/>
                }else
                {
                    <input asp-for="Coordenadas" class="form-control" />
                }
                <span asp-validation-for="Coordenadas" class="text-danger"></span>
            </div>

            <!-- Uso: un cuarto de la fila -->
            <div class="col-md-4 mb-3">
                <label asp-for="Uso" class="form-label"></label>
                @if (soloLectura)
                {
                    <input asp-for="Uso" class="form-control" readonly="readonly"/>
                }else
                {
                    <select asp-for="Uso" class="form-select">
                        <option value="">Seleccione un uso</option>
                        <option value="comercial">Comercial</option>
                        <option value="residencial">Residencial</option>
                    </select>
                }
                <span asp-validation-for="Uso" class="text-danger"></span>
            </div>

            <div class="col-md-2 mb-3">
                <label asp-for="Ambientes" class="form-label"></label>
                @if (soloLectura)
                {
                    <input asp-for="Ambientes" class="form-control" readonly="readonly"/>
                }else
                {
                    <input asp-for="Ambientes" class="form-control" />
                }
                <span asp-validation-for="Ambientes" class="text-danger"></span>
            </div>

            <div class="col-md-6 mb-3">
                <label asp-for="PrecioBase" class="form-label"></label>
                @if (soloLectura)
                {
                    <input asp-for="PrecioBase" class="form-control" readonly="readonly"/>
                }else
                {
                    <input asp-for="PrecioBase" class="form-control" />
                }
                <span asp-validation-for="PrecioBase" class="text-danger"></span>
            </div>

            <div class="col-md-6 mb-3">
                <label asp-for="PropietarioId" class="form-label"></label>
                @if (soloLectura)
                {
                    <input asp-for="PropietarioId" class="form-control" readonly="readonly"/>
                }else
                {
                    <select id="PropietarioId" name="PropietarioId" class="form-select"></select>
                }
                <span asp-validation-for="PropietarioId" class="text-danger"></span>
            </div>

           
        </div>


        <div class="mb-4 mt-2 gap-2 d-flex justify-content-end">
            @if (!soloLectura)
            {
                <button type="submit" class="btn btn-primary">
                    <i class="bi @(esEdicion ? "bi-pencil-square" : "bi-check-circle") me-2"></i>
                    @(esEdicion ? "Guardar Cambios" : "Crear Persona")
                </button>
                <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
            }else{
                @* <a asp-action="Index" class="btn btn-secondary">
                    <i class="bi bi-arrow-left-circle me-2"></i>Volver
                </a> *@
                <a href="@ViewBag.ReturnUrl" class="btn btn-secondary">Volver</a>
            }
        </div>

    </form>



</div>

@section Scripts
{
    <script src="~/js/inquilinos-select2.js"></script>
}
