@using System.Globalization
@model inmobiliariaULP.Models.ViewModels.ContratoDetalleDTO

@{
    var esEdicion = Model?.ContratoId > 0;
    var soloLectura = ViewBag.SoloLectura == true;
    ViewData["Title"] = esEdicion ? "Editar Contrato" : "Crear Contrato";
}

<div class="container mt-4">
    <h2 class="text-primary mb-4">
        <i class="bi @(soloLectura ? "bi-eye" : (esEdicion ? "bi-pencil-square" : "bi-file-earmark-plus")) me-2"></i>
        @(soloLectura ? "Información completa" : (esEdicion ? "Editar Contrato" : "Crear Nuevo Contrato"))
    </h2>

    <form asp-action="@(esEdicion ? "Edit" : "Create")" asp-controller="Contrato" class="needs-validation" novalidate>
        @if (esEdicion)
        {
            <input type="hidden" asp-for="ContratoId" />
        }

        @* Campos auditoria *@
        <input type="hidden" asp-for="RolUsuario" />
        <input type="hidden" asp-for="RolUsuarioFin" />
        <input type="hidden" asp-for="UsuarioId" />
        <input type="hidden" asp-for="NombreEmpleado" />
        <input type="hidden" asp-for="EmailUsuario" />
        <input type="hidden" asp-for="InmuebleId" />
        @* <input type="hidden" asp-for="EstadoInmueble" /> *@

        @* - Información del inmueble *@
        <div class="card mb-4">
            <div class="card-header card-header-dark2">
                <i class="bi bi-house-door me-2"></i> Información del Inmueble
            </div>
            <div class="card-body">
                @* <div class="row mb-3">
                    <div class="col-md-12 mb-3">
                        <label class="form-label" asp-for="InmuebleId">Inmueble</label>
                        @if (soloLectura)
                        {
                            <input class="form-control" value="@Model.Direccion" readonly />
                        }
                        else
                        {
                            
                            <select asp-for="InmuebleId" class="form-select" data-selected="@Model.InmuebleId" >
                                <option value="">Seleccione un inmueble...</option>
                            </select>
                        }
                        <span asp-validation-for="InmuebleId" class="text-danger" />
                    </div>
                </div> *@

                <div class="row mb-3">
                    <div class="col-md-4 mb-3">
                        <label class="form-label" asp-for="Direccion"></label>
                        <input class="form-control" asp-for="Direccion" value="@Model.Direccion" readonly />
                    </div>
                    <div class="col-md-4 mb-3">
                        <label class="form-label" asp-for="TipoInmueble"></label>
                        <input class="form-control" asp-for="TipoInmueble" value="@Model.TipoInmueble" readonly />
                    </div>
                    <div class="col-md-4 mb-3">
                        <label class="form-label" asp-for="UsoInmueble"></label>
                        <input class="form-control" asp-for="UsoInmueble" value="@Model.UsoInmueble" readonly />
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-4 mb-3">
                        <label class="form-label" asp-for="Ambientes"></label>
                        <input class="form-control" asp-for="Ambientes" value="@Model.Ambientes" readonly />
                    </div>
                    <div class="col-md-4 mb-3">
                        <label class="form-label" asp-for="Coordenadas"></label>
                        <input class="form-control" asp-for="Coordenadas" value="@Model.Coordenadas" readonly />
                    </div>
                    <div class="col-md-4 mb-3">
                        <label class="form-label" asp-for="EstadoInmueble"></label>
                        <input class="form-control" asp-for="EstadoInmueble" value="@(Model.EstadoInmueble ? "Habilitado" : "Deshabilitado")" readonly />
                    </div>
                </div>
            </div>
        </div>

        @* - Informacion del Propietario *@
        <div class="card mb-4">
            <div class="card-header card-header-dark2">
                <i class="bi bi-house-door me-2"></i> Información del Propietario
            </div>
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-md-4 mb-3">
                        <label class="form-label" asp-for="NombrePropietario"></label>
                        <input class="form-control" asp-for="NombrePropietario" value="@Model.NombrePropietario" readonly />
                    </div>
                    <div class="col-md-4 mb-3">
                        <label class="form-label" asp-for="EmailPropietario"></label>
                        <input class="form-control" asp-for="EmailPropietario" value="@Model.EmailPropietario" readonly />
                    </div>
                    <div class="col-md-4 mb-3">
                        <label class="form-label" asp-for="TelefonoPropietario"></label>
                        <input class="form-control" asp-for="TelefonoPropietario" value="@Model.TelefonoPropietario" readonly />
                    </div>
                </div>
            </div>
        </div> 

        @* - Informacion del Inquilino *@
        <div class="card mb-4">
            <div class="card-header card-header-dark2">
                <i class="bi bi-house-door me-2"></i> Información del Inquilino
            </div>
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-md-12 mb-3">
                        <label class="form-label" asp-for="InquilinoId">Inquilino</label>
                        @if (soloLectura)
                        {
                            <input class="form-control" value="@Model.NombrePropietario" readonly />
                        }
                        else
                        {    
                            <select asp-for="InquilinoId" class="form-select" data-selected="@Model.InquilinoId">
                                <option value="">Seleccione un Inquilino...</option>
                            </select>
                        }
                        <span asp-validation-for="InquilinoId" class="text-danger" />
                    </div>
                    <div class="col-md-4 mb-3">
                        <label class="form-label" asp-for="NombreInquilino"></label>
                        <input class="form-control" asp-for="NombreInquilino" value="@Model.NombreInquilino" readonly />
                    </div>
                    <div class="col-md-4 mb-3">
                        <label class="form-label" asp-for="EmailInquilino"></label>
                        <input class="form-control" asp-for="EmailInquilino" value="@Model.EmailInquilino" readonly />
                    </div>
                    <div class="col-md-4 mb-3">
                        <label class="form-label" asp-for="TelefonoInquilino"></label>
                        <input class="form-control" asp-for="TelefonoInquilino" value="@Model.TelefonoInquilino" readonly />
                    </div>

                </div>
            </div>
        </div> 

        @* - Informacion del contrato *@
        <div class="card mb-4">
            <div class="card-header card-header-dark2">
                <i class="bi bi-house-door me-2"></i> Información del Contrato
            </div>
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-md-4 mb-3">
                        <label asp-for="FechaInicio" class="form-label"></label>
                        @if (soloLectura)
                        {
                            <input class="form-control" value="@Model.FechaInicio.ToString("yyyy-MM-dd")" type="date" readonly />
                        }
                        else
                        {
                            <input asp-for="FechaInicio" class="form-control" type="date" />
                        }
                        <span asp-validation-for="FechaInicio" class="text-danger"></span>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label asp-for="FechaFin" class="form-label"></label>
                        @if (soloLectura)
                        {
                            <input class="form-control" value="@Model.FechaFin.ToString("yyyy-MM-dd")" type="date" readonly />
                        }
                        else
                        {
                            <input asp-for="FechaFin" class="form-control" type="date" />
                        }
                        <span asp-validation-for="FechaFin" class="text-danger"></span>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label asp-for="EstadoContrato" class="form-label"></label>
                        @if (soloLectura)
                        {
                            <input class="form-control" value="@Model.EstadoContrato" readonly />
                        }
                        else
                        {
                            <select asp-for="EstadoContrato" class="form-select">
                                <option value="">Seleccione estado...</option>
                                <option value="vigente">Vigente</option>
                                <option value="finalizado">Finalizado</option>
                                <option value="rescindido">Rescindido</option>
                            </select>
                            <span asp-validation-for="EstadoContrato" class="text-danger"></span>
                        }
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-4 mb-3">
                        <label asp-for="MontoMensual" class="form-label"></label>
                        <!-- Mostrar formato en pesos para solo lectura -->
                        <input class="form-control" value="@Model.MontoMensual.ToString("C", new CultureInfo("es-AR"))" readonly />
                        <!-- Campo oculto con el valor real para el model binding -->
                        <input type="hidden" asp-for="MontoMensual" />
                    </div>
                    <div class="col-md-4 mb-3">
                        <label asp-for="DiasRestantes" class="form-label"></label>
                        <input class="form-control" asp-for="DiasRestantes" value="@Model.DiasRestantes" type="number" readonly />
                    </div>
                    <div class="col-md-4 mb-3">
                        <label asp-for="DuracionEnMeses" class="form-label"></label>
                        <input class="form-control" asp-for="DuracionEnMeses" value="@Model.DuracionEnMeses" type="number" readonly />
                    </div>
                    

                </div>

                <div class="row mb-3">
                    <div class="col-md-4 mb-3">
                        <label asp-for="FechaAnticipada" class="form-label"></label>
                        @if (soloLectura)
                        {
                            <input class="form-control" 
                                value="@(Model.FechaAnticipada.HasValue ? Model.FechaAnticipada.Value.ToString("yyyy-MM-dd") : "")" 
                                type="date" readonly />
                        }
                        else
                        {
                            <input asp-for="FechaAnticipada" class="form-control" type="date" />
                        }
                        <span asp-validation-for="FechaAnticipada" class="text-danger"></span>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label asp-for="Multa" class="form-label"></label>
                        @if (soloLectura)
                        {
                            <input class="form-control" 
                                value="@(Model.Multa.HasValue ? Model.Multa.Value.ToString("C", new CultureInfo("es-AR")) : "")" 
                                readonly />
                        }
                        else
                        {
                            <input asp-for="Multa" class="form-control" type="number" min="0" step="1" />
                            <span asp-validation-for="Multa" class="text-danger"></span>
                        }
                    </div>
                    

                </div>

            </div>

            
        </div> <!--. Información del Contrato -->

        @* - Informacion del Usuarios *@
        <div class="card mb-4">
            <div class="card-header card-header-dark2">
                <i class="bi bi-house-door me-2"></i> Información de Usuarios
            </div>
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-md-4 mb-3">
                        <label class="form-label" asp-for="NombreEmpleado"></label>
                        <input class="form-control" value="@Model.NombreEmpleado" readonly />
                    </div>
                    <div class="col-md-4 mb-3">
                        <label class="form-label" asp-for="EmailUsuario"></label>
                        <input class="form-control" value="@Model.EmailUsuario" readonly />
                    </div>
                    
                </div>
                <div class="row mb-3">
                    <div class="col-md-4 mb-3">
                        <label class="form-label" asp-for="NombreEmpleadoFin"></label>
                        <input class="form-control" value="@Model.NombreEmpleadoFin" readonly />
                    </div>
                    <div class="col-md-4 mb-3">
                        <label class="form-label" asp-for="EmailUsuarioFin"></label>
                        <input class="form-control" value="@Model.EmailUsuarioFin" readonly />
                    </div>
                    
                </div>


            </div>
        </div>

        

        <!-- Botones -->
        <div class="mb-4 mt-2 gap-2 d-flex justify-content-end">
            @if (!soloLectura)
            {
                <button type="submit" class="btn btn-primary">
                    <i class="bi @(esEdicion ? "bi-pencil-square" : "bi-check-circle") me-2"></i>
                    @(esEdicion ? "Guardar Cambios" : "Crear Contrato")
                </button>
                <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
            }
            else
            {
                <a href="@ViewBag.ReturnUrl" class="btn btn-secondary">Volver</a>
            }
        </div>

        
    </form>
</div>

@section Scripts
{
    @* <script src="~/js/Select2-InmuebleContrato.js"></script> *@
    <script src="~/js/Select2-InquilinoContrato.js"></script>
    <script src="~/js/contratosFormulario.js"></script>
    <partial name="_ValidationScriptsPartial" />

}